<nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-top-bottom" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/png1.png" alt="" width="30" height="27" class="d-inline-block align-text-top"> Youth Tamil
            Nadu
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav  d-flex">
                <li class="nav-item px-3">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="events">Events</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="crew">Our Crew</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="join">Join Us</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>