<% layout('layouts/boilerplate') %>
    <div class="image-aboutus-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="lg-text">About Us</h1>
                    <p class="image-aboutus-para">Come, know who we are. This would definitely help you understand us
                        better.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-8 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Who we are and what we do</h2>
                        <p class="aboutus-text">Youth Tamil Nadu foundation, YTN is a social entrepreneurship platform
                            where
                            the youth of the nation gather to become an organization where development, funding and
                            implementation solutions to social, cultural, or environmental issues is focused on.
                            Social entrepreneurship typically attempts to further broad social, cultural, and
                            environmental goals often associated with the voluntary sector in areas such as poverty
                            alleviation, health care and community development.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12 mis-vis-container">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Our Vision</h4>
                                    <p>Youth Tamil Nadu Foundation envisages a future for Tamilnadu in which youth work
                                        with all
                                        their potential to make their dreams come true. Every individual's effort helps
                                        bring forth a change. Every action of ours today, will tell a story tomorrow.
                                        Let's all work hard together to write a beautiful story for India's bright
                                        coming days.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Our Mission</h4>
                                    <p>Like our vision: "We make a living from what we get, but we make a life from what
                                        we give", we whole-heartedly believe that we can set a path of life for budding
                                        entrepreneurs by giving them the right experience and exposure. Keeping this in
                                        mind, Youth Tamil Nadu Foundation attempts to create Tamilnadu's first youth
                                        driven
                                        social entrepreneurship platform where we will be focusing on bridging science
                                        and innovation with social service and welfare.
                                        It is our mission to provide permanent solutions to those in need and we will
                                        strive till the very end to help bring about a change.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>