<% layout('layouts/boilerplate') %>
    <br><br><br>
    <section class="container-fluid crew-head">
    </section><br><br>

    <section id="team">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1>Meet Our Team</h1>
                    <p>Individual commitment to a group effort--that is what makes a team work, a company work,
                        a society work, a civilization work.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2>IT Team</h2>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-img">
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg"
                                class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Adeeb</h4>
                            <span>IT Head</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-img">
                            <img src="images/2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Naveen A</h4>
                            <span>Web Developer</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-img">
                            <img src="images/3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Tejaswin</h4>
                            <span>Web Developer</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-img">
                            <img src="images/1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Harikrishna</h4>
                            <span>Web Developer</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>