<% layout('layouts/boilerplate') %>

    <main>
        <section class="hero__image__container">
            <div class="hero__image">
                <!-- <img src="./assets/yif1.jpg" alt="main image" class="image1"/> -->
            </div>
            <div class="title_container">
                <h1 class="title-text anim-typewriter">Youth Tamilnadu Foundation</h1>
                <h1 class="subtitle">தமிழ்நாடு</h1>
            </div>
        </section>
        </header>
        <main class="container-fluid p-0">

            <section class="founder__container">
                <h1 class="founder-title">Meet Our Founder</h1>
                <div class="founder">
                <img src="./images/founder_1.png" alt="founder" class="founder-img">
                <div class="founder-about">
                    <p class="founder-text">"True success is not acing all your exams, working at the top notch companies,
                    earnings millions of money but becoming a humble human who uses his power to
                    bring smiles on the faces of the needy and one who contributes towards the
                    making of a better society. I have always been actively participating in various
                    activities apart from academics that taught me a great deal of skills and values that
                    helped me achieve what I've achieved today, founding Youth India Foundation. My
                    journey started from my school, Sai International where I got many opportunities
                    like being the Cultural Secretary (Secondary) in the student council, being a
                    member of the international press MUN, successfully planning and directing out
                    school's biggest science fair SAITED working as the Finance Director and
                    organising multiple events with mass footfall like Sai Abhinandan, MUN, Sai
                    confluence etc - All these made it possible for me to learn to manage such a huge
                    national team and making YIF. I thank everyone, all my dear friends and family that
                    helped me accomplish so much and I look forward to doing more with all their
                    love and support."</p>
                    <h4>Subhankar Nanda</h4>
                    <h5>Founder</h5>
                </div>
                </div>
            </section>

            <section class="container-fluid video__container">
                <div class="caption__container">
                    <h2 class="caption">We make a living from what we get, but we make a life from what we give.</h2>
                </div>
                <video controls class="hero__video">
                    <source src="images/yif.mp4" class="yif_video" type="video/mp4" />
                </video>
            </section>

            <section class="societies_container">
                <div class="society_title">
                    <h1 class="society_text" style="color:rgb(255, 255, 255); font-style: oblique;">Tamilnadu Societies</h1>
                </div>
                <div class="all_societies">
                    <div class="societies">
                        <div class="society society-1">
                            Shasun
                            <div class="icons">
                            <a href="https://www.instagram.com/youthindia_shasun/"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="society society-2">
                            Egmore
                            <div class="icons">
                                <a href="https://www.instagram.com/youthindia_egmore/"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                        </div>
                        <div class="society society-3">
                            Guindy
                            <div class="icons">
                                <a href="https://www.instagram.com/youthindia_guindy/"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                        </div>
                        <div class="society society-4">
                            Cathedral
                            <div class="icons">
                                <a href="https://www.instagram.com/youthindia_cathedralroad/"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                        </div>
                        <div class="society society-5">
                            OMR
                            <div class="icons">
                                <a href="https://www.instagram.com/youthindiaomr/
                                "><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                        </div>
                        <div class="society society-6">
                            KTR
                            <div class="icons">
                                <a href="https://www.instagram.com/youthindia_ktr/"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                        </div>
                        <div class="society society-7">
                            Sterling
                            <div class="icons">
                                <a href="https://www.instagram.com/youthindia_sterling/"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
            </section>
            </main>
        </main>
        
    <div class="container contact-form">
        <div class="contact-image">
            <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
        </div>
        <form method="post">
            <h3>Drop Us a Message</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *"
                            value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="txtMsg" class="form-control" placeholder="Your Message *"
                            style="width: 100%; height: 150px;"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
