<% layout('layouts/boilerplate') %>
    <br><br><br><br><br><br><br><br>
    <section class="container-fluid events-text mt-5">
        <h1 class="head-text-join">Join Our Team</h1>
    </section>
    <section class="container-fluid join-head">
    </section>
    <!-- <div class="row">
        <div class="col-md-6 col-10 offset-md-3 offset-1">
            <form action="#" method="POST" class="border border-5 px-5 py-3 my-5 validated-form" novalidate>
                <h1 class="text-center text-dark">Join Us</h1>
                <div>
                    <label class="form-label" for="name">First Name: </label>
                    <input class="form-control mb-3" type="text" id="fname" name="details[fname]" required>
                </div>
                <div>
                    <label class="form-label" for="name">Last Name: </label>
                    <input class="form-control mb-3" type="text" id="lname" name="details[lname]" required>
                </div>
                <div>
                    <label class="form-label" for="email">Email:</label>
                    <input class="form-control mb-3" type="email" id="price" name="details[email]" required>
                </div>
                <div>
                    <label class="form-label" for="phone">Phone No:</label>
                    <input class="form-control mb-3" type="phone" id="phone" name="details[phone]" required>
                </div>
                <div>
                    <label class="form-label" for="location">City:</label>
                    <input class="form-control mb-3" type="text" id="location" name="details[location]" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Area of Interest:</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>IT</option>
                        <option>Marketing</option>
                        <option>HR</option>
                        <option>PR</option>
                        <option>Finance</option>
                        <option>Management</option>
                    </select>
                </div><br>
                <button class="btn btn-success my-2" type="submit">Submit</button>
            </form>
        </div>
    </div> -->

    <div class="form-style-5">
        <form>
            <fieldset>
                <legend><span class="number">1</span>Your Details</legend>
                <input type="text" name="field1" placeholder="Your Full Name *">
                <input type="email" name="field2" placeholder="Your Email *">
                <input type="tel" name="field3" pattern="[0-9]{10}" placeholder="Mobile Number *">

                <label for="gender">Choose Your Gender:</label>
                <select id="gender" name="field4">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                </select>
                <label for="job">Interests:</label>
                <select id="job" name="field5">
                    <option value="IT">IT</option>
                    <option value="Marketing">Marketing</option>
                    <option value="HR">HR</option>
                    <option value="PR">PR</option>
                    <option value="Finance">Finance</option>
                    <option value="Management">Management</option>
                </select>
            </fieldset>
            <fieldset>
                <legend><span class="number">2</span> Additional Info</legend>
                <label for="education">Your Current Education:</label>
                <select id="education" name="field6">
                    <option value="School">School</option>
                    <option value="College">College</option>
                    <option value="Graduate">Graduate</option>
                    <option value="Post Graduate">Post Graduate</option>
                </select>
                <textarea name="field7" placeholder="Why do you want to join Youth Tamilnadu"></textarea>
            </fieldset>
            <input type="submit" value="Submit" />
        </form>
    </div>

    <section>
        <div class="container-fluid text-center pt-5" id='title-bar'>
            <h2>What do you gain here?</h2>
            <p class="text-muted">We can Change your Future</p>
        </div>
        <div class='container-fluid text-center my-5'>
            <div class="row ">
                <div class="col-md-4 padding-0">
                    <img src="https://www.youthindiafoundation.com/static/img/join/C1%20Teamwork.png"
                        class="img-responsive" alt="Cinque Terre" width="150" height="150">
                    <h5>Team Work</h5>
                    <p class="text-mu ted text-center">Team Work Makes the Dream Work</p>
                </div>
                <div class="col-md-4 padding-0">
                    <img src="https://www.youthindiafoundation.com/static/img/join/C2%20Creativity.png"
                        class="img-responsive" alt="Cinque Terre" width="150" height="150">
                    <h5>Welcomes Your Creativity</h5>
                    <p class="text-muted text-center">Creativity is Intelligence Having Fun.</p>
                </div>
                <div class="col-md-4 padding-0">
                    <img src="https://www.youthindiafoundation.com/static/img/join/C3%20Divide%20and%20Conquer.png"
                        class="img-responsive" alt="Cinque Terre" width="150" height="150">
                    <h5>Divide and Conquer</h5>
                    <p class="text-muted text-center">Let the specialisation get boost by dividing the work.</p>
                </div>
                <div class='container-fluid text-center'>
                </div>
                <div class="row ">
                    <div class="col-md-4 padding-0">
                        <img src="https://www.youthindiafoundation.com/static/img/join/C4%20Contribute%20to%20society.png"
                            class="img-responsive" alt="Cinque Terre" width="150" height="150">
                        <h5>Contribute to the Society</h5>
                        <p class="text-muted text-center">We rise by lifting others</p>
                    </div>
                    <div class="col-md-4 padding-0">
                        <img src="https://www.youthindiafoundation.com/static/img/join/C5%20improve%20skills.png"
                            class="img-responsive" alt="Cinque Terre" width="150" height="150">
                        <h5>Improve your skills </h5>
                        <p class="text-muted text-center">Skills make or brake our career.</p>
                    </div>
                    <div class="col-md-4 padding-0">
                        <img src="https://www.youthindiafoundation.com/static/img/join/C6%20Exposure.png"
                            class="img-responsive" alt="Cinque Terre" width="150" height="150">
                        <h5>Get exposure to your field </h5>
                        <p class="text-muted text-center">One day’s exposure is better than a cartload of books</p>
                    </div>
                </div>
            </div>
    </section>